body
{
    text-align: center;
}
header
{
    font-size: 75px;
}

p
{   text-align:center;
    font-size: 25px;
}
.sepia
{

    color: #704214;
    background-color: #F1EDE1;
    border-color: #F1EDE1;
}
hide
{
    overflow:hidden;
}
.navl
{   color:#ffffff;
    background-color:#6c737a
}
.Himg
{
    width:100%;
    height:500;
}